<footer class="footer">
    <p class="copyright">&copy; 2023 Brenda Store, All Rights Reserved</p>
  </div>

  <img
    src="/src/images/footer-shape-1.png"
    width="245"
    height="165"
    loading="lazy"
    alt="shape"
    class="shape shape-1"
  />

  <img
    src="/src/images/footer-shape-2.png"
    width="138"
    height="316"
    loading="lazy"
    alt="shape"
    class="shape shape-2"
  />

  <img
    src="/src/images/footer-shape-3.png"
    width="346"
    height="92"
    loading="lazy"
    alt="shape"
    class="shape shape-3"
  />
</div>
</footer>